<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional Test Suite">
  <test name="eBayOrderPlacementTest">
    <classes>
      <class name="com.ebayAutomation.tests.TC_01_ItemPurchaseVerification_eBay"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
